/* ========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    border:none;
    background:none;
    cursor:pointer;
}

/* ========================= */

.header{

    width:100%;
    height:80px;

    background:#fff;

    border-bottom:2px solid #ececec;
}

.header-container{

    width:100%;
    max-width:1600px;

    height:100%;

    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;
}

/* Logo */

.logo img{

    width:155px;
}

/* Right */

.header-right{
    display:flex;
    align-items:center;
    gap:37px;
}

/* Menu */

.menu-item{

    display:flex;
    flex-direction:column;

    align-items:center;

    color:#31A836;

    transition:.25s;
}

.menu-item i{
    font-size:20px;
    margin-bottom:8px;
}

.menu-item span{

    font-size:14px;

    font-weight:500;

    white-space:nowrap;
}

.menu-item:hover{

    color:#20822a;
}

/* Phone */

.phone-item{

    display:flex;
    align-items:center;

    gap:10px;

    color:#31A836;

    font-size:14px;

    font-weight:600;
}

.phone-item i{

    font-size:24px;
}

/* Language */

.language{
    width:73px;
    height:32px;
    background:#31A836;
    border-radius:999px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:3px;
}
.language button{
    width:28px;
    height:28px;
    border-radius:75px;
    color:#fff;
    font-size:14px;
    transition:.25s;
}

.language .active{
    background:#fff;
    color:#31A836;
}